/*
Lovell - Employer Tool

/*============================================================================================*/
/* SITE STRUCTURE and TYPOGRAPHY */
/*============================================================================================*/
/*-------- Typography --------*/
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Roboto Condensed", Arial, sans-serif;
	color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased;
	color: #222;
	font-weight: 500;
}

*:focus {
    outline: none;
}

p {
	margin-bottom: 25px;
}

p.lead {
	font-weight: 400;
	font-size: 24px;
	color: #333;
	margin-bottom: 35px;
}

p.lead.styled {
	text-align: center;
	font-size: 18px;
	padding: 0 10%;
	margin-bottom: 45px;
}

hr {
	margin: 15px 0 30px 0;
	border-color: #ededed;
}

h2.main_title {
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 42px;
	color: #F60;
	text-transform: uppercase;
}

h2.main_title span {
	display: block;
	color: #999;
	font-size: 24px;
	text-transform: none;
}

h2.main_title em {
	display: block;
	width: 40px;
	height: 4px;
	background-color: #ededed;
	margin: auto;
	-webkit-border-radius: 5 px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

/*General links color*/
a {
	color: #42205D;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	outline: none;
}

a:hover,
a:focus {
	color: #333;
	text-decoration: none;
	outline: none;
}

a.animated_link {
	position: relative;
	text-decoration: none;
}

a.animated_link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -5px;
	opacity: 1;
	left: 0;
	background-color: #333;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.animated_link:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

a.animated_link_2 {
	position: relative;
	text-decoration: none;
	color: #555;
}

a.animated_link_2:hover {
	color: #111;
}

a.animated_link_2:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -5px;
	opacity: 1;
	left: 0;
	background-color: #111;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.animated_link_2:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/*-------- Buttons --------*/
a.btn_1,
.btn_1 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: #3f9fff;
	cursor: pointer;
	padding: 7px 15px;
	display: inline-block;
	outline: none;
	font-size: 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: 400;
}

a.btn_1:hover,
.btn_1:hover {
	background: #333;
}

/*-------- Structure --------*/
/* Header */
header {
	position: relative;
	padding: 15px 0;
	background-color: #fff;
	border-bottom: 1px solid #d9e1e6;
}


@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	#logo_home h1 a {
		background-image: url(../img/logo_2x.png);
		background-size: 50px 35px;
	}
}

#social {
	float: right;
	margin: 0 60px 0 0;
}

#social ul {
	margin: 0;
	padding: 0 0 0 0;
	text-align: center;
}

#social ul li {
	display: inline-block;
	margin: 0 5px 10px 0;
}

#social ul li a {
	color: #555;
	text-align: center;
	line-height: 35px;
	display: block;
	font-size: 16px;
	width: 25px;
	height: 25px;
	padding: 0;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#social ul li a:hover {
	color: #ff6600 !important;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* footer */
footer {
	background-color: #fff;
	border-top: 1px solid #ededed;
	padding: 25px 0;
}
footer#home {
	width: 100%;
	margin: auto;
	font-size: 15px;
	margin-bottom: 30px;
	color: #777;
	background-color: transparent;
	border-top: none;
	padding: 0;
}
footer p {
	margin: 0;
	padding: 0;
	float: left;
}
footer ul {
	float: right;
	margin: 0;
	padding: 0;
}
footer ul li{
	display: inline-block;
	margin-right: 15px;
}
footer ul li:last-child {
    margin-right: 0;
}
footer ul li:after {
    content: "|";
    font-weight: 300;
    position: relative;
    left: 9px;
}
footer ul li:last-child:after {
    content: "";
}
footer ul li a{
	color: #777;
}

/*============================================================================================*/
/* CONTENT */
/*============================================================================================*/
/*-------- 2.1 Home/front page--------*/
#form_container {
	display: table;
	background-color: #fff;
	width: 100%;
	min-height: 460px;
	margin: 0 auto;
}

/*-------- 2.3 Wizard quote--------*/
input#website {
	display: none;
}

#wizard_container {
	position: relative;
	min-height: 450px;
}

h3.main_question, h3.step-heading {
	margin: 0 0 20px 0;
	padding: 0;
	font-weight: 400;
}

h3.main_question strong, h3.step-heading strong {
	display: block;
	color: #999;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 400;
}

.head-container {
    width: 100%;
}

.head-container .labels, .head-container .numbers {
    width: 100%;
    list-style: none;
    padding: 0;
    display: inline-block;
}

.head-container .labels li, .head-container .numbers li {
    float: left;
    text-align: center;
    width: 50%;
}

.head-container .labels li:first-child, .head-container .numbers li:first-child {
    text-align: left;
    width: 25%;
}


.head-container .labels li:last-child, .head-container .numbers li:last-child  {
	text-align: right;
	width: 25%;
}

.head-container .numbers li:first-child, .head-container .numbers li:last-child {
	width: 5%;
}

.head-container .numbers li, .head-container .numbers li {
	width: 10%;
}


/* Wizard Buttons*/
button.backward,
button.forward,
button.submit {
	border: none;
	color: #fff;
	padding: 7px 20px;
	text-decoration: none;
	transition: background .5s ease;
	-moz-transition: background .5s ease;
	-webkit-transition: background .5s ease;
	-o-transition: background .5s ease;
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
	outline: none;
	text-align: center;
	background: #42205D;
	position: relative;
	font-size: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 1;
	padding: 10px 30px 10px 30px;
}

button.backward {
	color: #333;
	background: #e8e8e8;
	padding: 10px 20px 10px 30px;
}

button.forward,
button.submit {
	padding: 10px 30px 10px 20px;
}

button[disabled] {
	display: none;
}

button.backward:before {
	content: "\34";
	font-family: 'ElegantIcons';
	position: absolute;
	top: 8px;
	left: 12px;
	font-size: 18px;
}

button.forward:before {
	content: "\35";
	font-family: 'ElegantIcons';
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 18px;
}

button.submit:before {
	content: "\4e";
	font-family: 'ElegantIcons';
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 18px;
}

.backward:hover,
.forward:hover {
	background: #42205D;
	color: #fff;
}

#top-wizard {
	
}

#middle-wizard {
	padding: 0px 0px 80px;
	display: inline-block;
	width: 100%;
}

#bottom-wizard {
	text-align: right;
	position: absolute;
	width: 100%;
	bottom: 25px;
	right: 0;
}

.ui-widget {}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {}

.ui-widget-content {}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	background: #6C3;
}

.ui-widget-header a {
	color: #222222;
}

.ui-progressbar {
	height: 5px;
	width: 100%;
}

.ui-progressbar .ui-progressbar-value {
	height: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}



span.error {
	font-size: 12px;
	position: absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	top: -20px;
	right: -15px;
	z-index: 2;
	height: 25px;
	line-height: 1;
	background-color: #e34f4f;
	color: #fff;
	font-weight: normal;
	display: inline-block;
	padding: 6px 8px;
}

span.error:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 6px 6px 0;
	border-color: transparent #e34f4f;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -6px;
	left: 20%;
}

.radio_input span.error {
	top: -30px;
}

.styled-select span.error {
	top: -20px;
}

.terms span.error {
	top: -30px;
}

.form-group {
	position: relative;
}

.form-group i {
	font-size: 20px;
	position: absolute;
	right: 0;
	top: 10px;
	color: #ccc;
}

.form-group label {
	font-weight: 400;
	color: #222;
}

.form-group.radio_questions label {
	border: 2px solid #e8ebed;
	display: block;
	font-weight: 400;
	padding: 15px 45px 15px 15px;
	box-sizing: content-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: #555;
	background-color: #fff;
}

.form-group.checkbox_questions label {
	font-weight: 400;
	cursor: pointer;
	color: #555;
}

.form-group.radio_questions .iradio_square-yellow {
	position: absolute;
	top: 17px;
	right: 15px;
}

.form-group.checkbox_questions .icheckbox_square-yellow {
	margin-right: 10px;
}

.form-group.radio_questions label:hover {
	border: 2px solid #ffcc33;
}

.form-group.select {
	margin-bottom: 30px;
}

.styled-select select {
	background: transparent;
	width: 107%;
	padding: 5px;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	height: 41px;
	color: #999;
	margin: 0;
	font-weight: 400;
	-moz-appearance: window;
	-webkit-appearance: none;
	cursor: pointer;
	outline: none;
}

.styled-select select:focus {
	color: #555;
}

.styled-select {
	width: 100%;
	overflow: hidden;
	height: 44px;
	background: #fff url(../img/arrow_down.svg) no-repeat right center;
	border: 0;
	border-bottom: 2px solid #e8ebed;
	border-radius: 0;
}

.styled-select select::-ms-expand {
	display: none;
}

.styled-select select:focus {
	outline: none;
	box-shadow: none;
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

input.form-control,
select.form-control,
textarea.form-control {
	background: none;
	background-color: #fff;
	border: none;
	border-bottom: 2px solid #e8ebed;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	color: #999;
	height: 44px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 25px;
	padding: 6px 12px 6px 0;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
	border-color: #777;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #555;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.radio_input {
	margin-top: 10px;
}

.radio_input label {
	padding-left: 0;
	margin-right: 15px;
	color: #999;
}

/*-------- Other pages --------*/
main#general_page {
	background-color: #fff;
}

#map_contact {
	width: 100%;
	height: 500px;
}

.box_style_2 {
	background-color: #f8f8f8;
	padding: 20px 35px 35px 35px;
	position: relative;
}

.box_style_2 hr {
	margin: 10px -25px 20px -25px;
	border: 0;
	border-top: 2px solid #fff;
}

ul.contacts_info {
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
}

ul.contacts_info li {
	margin-bottom: 15px;
}

ul.contacts_info li:last-child {
	margin-bottom: 0;
}

.parallax_window_in {
	height: 420px;
	position: relative;
	display: table;
	width: 100%;
}

#sub_content_in {
	display: table-cell;
	padding: 45px 15% 0 15%;
	vertical-align: middle;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
}

#sub_content_in h1 {
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 42px;
	margin-bottom: 0;
}

#sub_content_in p {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
}

.container_styled_1 {
	background: #f9f9f9;
}

.team-item-img {
	position: relative;
}

.team-item-img .team-item-detail {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.80);
	text-align: center;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}

.team-item:hover .team-item-detail {
	opacity: 1;
	visibility: visible;
}

.team-item-img .team-item-detail .team-item-detail-inner {
	margin: auto;
	padding: 25px;
}

.team-item-detail-inner h4 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}

.team-item-detail-inner .social {
	margin: 0 0px 25px 0px;
	padding: 0px;
}

.team-item-detail-inner .social li {
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
}

.team-item-detail-inner .social li a {
	color: #fff;
}

.team-item-detail-inner .social li a:hover {
	color: #ed5434;
}

.team-item-info {
	padding-top: 15px;
	text-align: center;
}

.team-item-info h4 {
	margin-bottom: 0px;
	text-transform: uppercase;
}


/*============================================================================================*/
/* COMMON */
/*============================================================================================*/
/*-------- Preloader --------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

input[type=range]{
    -webkit-appearance: none;
    margin: 25px 0;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #42205D !important;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

[data-loader="circle-side"] {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-animation: circle infinite .95s linear;
	-moz-animation: circle infinite .95s linear;
	-o-animation: circle infinite .95s linear;
	animation: circle infinite .95s linear;
	border: 2px solid #333;
	border-top-color: rgba(0, 0, 0, .2);
	border-right-color: rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .2);
	border-radius: 100%;
}

@-webkit-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes circle {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*-------- Spacing --------*/
.add_bottom_15 {
	margin-bottom: 15px;
}

.add_bottom_30 {
	margin-bottom: 30px;
}

.add_bottom_45 {
	margin-bottom: 45px;
}

.add_bottom_60 {
	margin-bottom: 60px;
}

.add_bottom_75 {
	margin-bottom: 75px;
}

.add_top_20 {
	margin-top: 20px;
}

.add_top_30 {
	margin-top: 30px;
}

.add_top_60 {
	margin-top: 60px;
}

.more_padding_left {
	padding-left: 40px;
}

.nomargin_top {
	margin-top: 0;
}

.nopadding {
	margin: 0 !important;
	padding: 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.margin_60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.margin_60_35 {
	padding-top: 60px;
	padding-bottom: 35px;
}


/*-------- Success submit --------*/

#success {
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	width: 100%;
}

#success h3 {
    font-weight: 400;
}

#success h4 {
	margin: 0;
}

#success h4 span {
	display: block;
	font-size: 24px;
}

#success .contact-share {
    margin-top: 15px;
}

#success .contact-share .social {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
}

#success .contact-share .social a {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 9px;
    background-color: #eee;
    width: 52px;
    height: 52px;
    margin-bottom: 5px;
    font-size: 20px;
    display: inline-block;
    line-height: 1.4;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

#success .contact-share .social a .fa {
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.icon-facebook {
    color: #3460a0;
}

#success .contact-share .social a.facebook:hover {
    background-color: #3460a0;
}

.icon-twitter {
    color: #00aced;
}

#success .contact-share .social a.twitter:hover {
    background-color: #00aced;
}

.icon-linkedin {
    color: #007bb6;
}

#success .contact-share .social a.linkedin:hover {
    background-color: #007bb6;
}

#success .contact-share .social a:hover .fa {
    color: #fff !important
}

@-webkit-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}
	100% {
		stroke-dashoffset: 0
	}
}

@-ms-keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}
	100% {
		stroke-dashoffset: 0
	}
}

@keyframes checkmark {
	0% {
		stroke-dashoffset: 50px
	}
	100% {
		stroke-dashoffset: 0
	}
}

@-webkit-keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}
	100% {
		stroke-dashoffset: 480px
	}
}

@-ms-keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}
	100% {
		stroke-dashoffset: 480px
	}
}

@keyframes checkmark-circle {
	0% {
		stroke-dashoffset: 240px
	}
	100% {
		stroke-dashoffset: 480px
	}
}

.inlinesvg .svg svg {
	display: inline
}

.icon--order-success svg path {
	-webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
	animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
	-webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
	animation: checkmark-circle 0.6s ease-in-out backwards
}